.descrition {
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0.75;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

.card {
  position: relative;
}

img {
  border-radius: 8px;
}

.bookmark {
  cursor: pointer;
  position: absolute;
  background: #10141e;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  right: 16px;
  z-index: 1;
}

.bookmark:hover {
  background-color: var(--PureWhite);
}

.descrition__wrapper {
  position: absolute;
  bottom: 3px;
  padding: 24px;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.0001) 0%,
    rgba(0, 0, 0, 0.75) 100%
  );
  border-radius: 0px 0px 0px 8px;
  width: 100%;
  /* overflow: hidden; */
}

.descrition__wrapper h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}
