body {
  background-color: var(--DarkBlue);
  color: var(--PureWhite);
  font-family: "Outfit";
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
}

input[type="text"]::placeholder {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 30px;
}

img {
  max-width: 100%;
}

.App {
  padding: 32px 36px 52px 32px;
}

.container {
  margin-left: 160px;
}

a {
  cursor: pointer;
}

h2 {
  font-weight: 300;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.5px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
}

.list {
  margin-top: 38px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 40px;
}

.list img {
  border-radius: 8px;
}

section {
  margin-top: 40px;
}

@media only screen and (max-width: 600px) {
  .App {
    padding: 0;
  }
  .container {
    margin-left: 100px;
  }
}
